:root {
  --color-bg: #fff;
  --color-fg: #555;
  --color-fg-drk: #000;
  --color-accent: #ff3333;
}

html {
  font-size: 18px;
  background-color: var(--color-bg);
}

body {
  padding: 0 2rem 4rem;
  color: var(--color-fg);
  font-size: 1rem;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}

p { margin: 0; }
p + p { margin-top: 1rem; }

a, a:visited, .link {
  color: var(--color-fg-drk);
  text-decoration: none;
}


a:hover, a:focus {
  color: var(--color-accent);
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main ul li + li { margin-top: 1rem; }

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 2rem 0 1rem;
  line-height: 1;
  font-family: monospace;
  color: var(--color-fg-drk);
}

.social--item { display: inline-block; }
.social--item:before { margin: 0 .5rem; }

.decoration:before { color: var(--color-accent); }
.decoration__angle:before { content: '❯ '; }
.decoration__slash:before { content: '/'; }
.decoration__middot:before {
  content: '·';
  font-weight: bold;
}

@media screen and (min-width: 480px) {
  .social--item:before { margin: 0 1rem; }
}

@media screen and (min-width: 720px) {
  .header { flex-direction: row; }
  .social {
    margin: 2rem 0 0 4rem;
    line-height: 2.25rem;
  }
}
