:root {
  --color-bg: #fff;
  --color-fg: #555;
  --color-fg-drk: #000;
  --color-accent: #ff3333;
}

html {
  font-size: 18px;
  background-color: var(--color-bg);
}

body {
  padding: 0 2rem 4rem;
  color: var(--color-fg);
  font-size: 1rem;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}

p { margin: 0; }
p + p { margin-top: 1rem; }

a, a:visited, .link { color: var(--color-fg-drk); }
a:hover, a:focus { color: var(--color-accent); }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main ul li + li { margin-top: 1rem; }

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 2rem 0 1rem;
  line-height: 1;
  font-family: monospace;
  color: var(--color-fg-drk);
}

.social--item {
  display: inline-block;
  margin-right: 1.5rem;
}

[class^="flaticon-"] { text-decoration: none; }

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
  font-size: 1.5rem;
}

.flaticon-twitter:before {
  position: relative;
  top: 2px;
}

.flaticon-linkedin:before { opacity:.5; }

.decoration:before { color: var(--color-accent); }
.decoration__angle:before { content: '❯ '; }
.decoration__slash:before { content: '/'; }
.decoration__middot:before {
  content: '·';
  font-weight: bold;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  .header { flex-direction: row; }
  .social {
    margin: 2rem 0 0 4rem;
    line-height: 2.25rem;
  }
}
