html {
  font-size: 21px;
  font-family: Helvetica, sans-serif;
  background-color: #000;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
}

header {
  margin-bottom: 2rem;
  background: linear-gradient(#111, #000);
}

main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;

}

section {
  margin-bottom: 2rem;
}

h1 {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 70rem;
  font-family: monospace;
  color: #fff;
}

h1:before {
  content:"❯ ";
  color: #ff3333;
}

h1 a {
  color: #111;
  text-decoration: none;
}
h1 a:hover {
  color: #666;
}

h2 {
  font-family: monospace;
  color: #fff;
}

h2:before {
  content:"/";
  color: #666;
}

main a, main a:visited,
.socialLinks a, .socialLinks a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom:solid 1px #ff6666;
}

main a:hover, main a:focus,
.socialLinks a:hover, .socialLinks a:focus {
  color: #ff6666;
  text-decoration: none;
  cursor: pointer;
}

dt {
  display: inline;
  font-family: monospace;
  font-weight: bold;
}

dt:before {
  content:"❯ ";
  color: #666;
}

dd {
  display: inline;
  margin: 0 0 0 .25rem;
}

dd:not(:last-child):after {
  display: block;
  content: '';
}

.pink {
  color: #666;
}

.image {
  border-bottom: 0;
}

.image img {
  width: 100%;
  margin-bottom: 4rem;
}

h1, .socialLinks {display: inline-block;}

.socialLinks li {
  display: inline-block;
}

.socialLinks li + li:before {
  content: '/';
  margin: 0 1rem;
}

/* .socialLinks li:nth-child(1) a {
  color: #ff6666;
}

.socialLinks li:nth-child(2) a {
  color: #ff6699;
}
.socialLinks li:nth-child(3) a {
  color: #ff66cc;
} */

header a, header a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 0;
}

header a:hover, header a:focus {
  color: #666;
  text-decoration: none;
}
